In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer 
from pandas.plotting import scatter_matrix

In [ ]:
housing = pd.read_csv('housing.csv')
housing.head()

In [ ]:
train_set, train_test = train_test_split(housing, test_size=0.2, random_state=42)
train_set.shape
train_set.head()

In [ ]:
data = train_set.copy()
data.head()

In [ ]:
data.plot(kind='scatter', x='longitude',y='latitude',figsize=(10,7), alpha=0.4,
         s=data['population']/20, label='population',
          c = data['median_house_value'], cmap=plt.get_cmap('jet')
         )

In [ ]:
# Standard correlation coefficient [-1,1]

In [ ]:
corr_matrix= data.corr()
corr_matrix['median_house_value'].sort_values(ascending=False)

In [ ]:
features = ['median_house_value','median_income','total_rooms','housing_median_age']
scatter_matrix(data[features], figsize=(15,10))
plt.show()

In [ ]:
data.head()

In [ ]:
data['total_rooms_per_households'] = data['total_rooms']/ data['households']
data['total_bedrooms_per_total_rooms'] = data['total_bedrooms']/ data['total_rooms']
data['population_per_median_house_value'] = data['population']/ data['median_house_value']

In [ ]:
data.head()

In [ ]:
corr_matrix = data.corr()
corr_matrix['median_house_value'].sort_values(ascending=False)

In [ ]:
df = train_set.copy()
df_label = df['median_house_value'].copy()
df = df.drop('median_house_value', axis=1)
# df.info()
df_num = df.drop('ocean_proximity',axis=1)
df_num.info()

In [ ]:
# --------- missing data (1.drop_rows, 2.drop_columns, 3.replace)
# df_num = df_num.dropna(subset=['total_bedrooms'])  # option 1
# df_num.drop('total_bedrooms', axis=1)   # option 2
# median = df['total_bedrooms'].median()
# df_num['total_bedrooms'].fillna(median)

In [75]:
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(df_num)
X=imputer.transform(df_num)
df_num_inpute_tr = pd.DataFrame(X, columns=df_num.columns)
df_num_inpute_tr.info()
df_num.info()
df_num_inpute_tr.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16512 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
dtypes: float64(8)
memory usage: 1.0 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 14196 to 15795
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16512 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
dtypes: float64(8)
memory usage: 1.1 MB

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596
1,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125
2,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563
3,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425
4,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542